@tailwind base;
@tailwind components;
@tailwind utilities;



/* âŒ Remove default Swiper arrows (the blue ones) */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
  content: none !important;
}
